<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="wrap-body">
      <!--------------Header--------------->
      <header>
        <div class="top-header">
          <div class="zerogrid">
            <div class="row">
              <nav>
                <div class="wrap-nav">
                  <a class="toggleMenu" href="#">SKILLPASS</a>
                  <ul class="menu">
                    <li><a href="index.html">Główna</a></li>
                    <li><a href="#box-1">O nas</a></li>
                    <li><a href="#box-2">Zespół</a></li>
                    <li><a href="#box-3">Usługi</a></li>
                    <li><a href="#box-4">Ceny</a></li>
                    <li><a href="#box-5">Projekty</a></li>
                    <li><a href="#box-6">Kontakt</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <div class="wrap-header">
          <div class="zerogrid">
            <div id="logo">
              <a href="#"
                ><img src="../../assets/images/skillpass_logo_1.png"
              /></a>
            </div>
            <h1 class="hptitle">Znajdź swoją wymarzoną pracę już teraz!</h1>
            <p class="hpsubtitle">Dołącz do SkillPass</p>
            <div class="col-1-2">
              <a class="button button03" href="#">Zaloguj się jako użytkownik</a>
            </div>
            <div class="col-1-2">
              <a class="button button03" href="#">Zaloguj się jako firma</a>
            </div>
            <div class="col-1-2">
              <a class="button button03" href="#">Zarejestruj się jako użytkownik</a>
            </div>
            <div class="col-1-2">
              <a class="button button03" href="#">Zarejestruj się jako firma</a>
            </div>
          </div>
        </div>
      </header>

      <!--------------Content--------------->
      <section class="container">
        <div class="wrap-container">
          <!-----------------content-box-1-------------------->
          <div class="content-box box-1">
            <a name="box-1"></a>
            <div class="zerogrid">
              <div class="wrap-box">
                <div class="col-1-2">
                  <div class="wrap-col">
                    <div class="row">
                      <img src="../../assets/images/aboutus.png" />
                    </div>
                  </div>
                </div>
                <div class="col-1-2">
                  <div class="wrap-col">
                    <div class="row">
                      <div class="header">
                        <h2>About us</h2>
                        <h3>We are a professional agency</h3>
                      </div>
                      <p>
                        Nibh congue scripserit ne mel, pri ne amet mnesarchum.
                        Dicat maiestat per modo simul signiferumque te. Dolore
                        intellegat eu cum, ut est Nostro eloquentiam
                        interpretaris vel id. Minim consequuntur et eam, nonumy
                        equidem pri. Vide virtute ocurreret per in antiopam.
                      </p>
                      <a class="button button03" href="#box-6">Contact Us</a>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <!-----------------content-box-2-------------------->
          <div class="content-box box-2">
            <a name="box-2"></a>
            <div class="zerogrid">
              <div class="row wrap-box">
                <div class="header">
                  <h2>Our team</h2>
                  <h3>We have a professional team</h3>
                </div>
                <div class="row">
                  <div class="col-1-2">
                    <div class="wrap-col">
                      <div class="row post">
                        <div class="col-1-4">
                          <div class="wrap-col">
                            <img src="../../assets/images/avatar1.png" />
                            <h4>Name</h4>
                          </div>
                        </div>
                        <div class="col-3-4">
                          <div class="wrap-col">
                            <p>
                              His primis omittam intellegat cu, voluptua
                              appetere mea ad, eu harum oporteat vix. Et vel
                              quod legimus, graeci electram ocurreret at his.
                              Vix at tation facete impetus omnesque ius harum
                              antiopam.
                            </p>
                            <div class="social">
                              <a href="#"
                                ><img
                                  src="../../assets/images/facebook.png"
                                  title="facebook"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/twitter.png"
                                  title="twitter"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/google.png"
                                  title="google"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/pinterest.png"
                                  title="pinterest"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/instagram.png"
                                  title="instagram"
                              /></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row post">
                        <div class="col-1-4">
                          <div class="wrap-col">
                            <img src="../../assets/images/avatar2.png" />
                            <h4>Name</h4>
                          </div>
                        </div>
                        <div class="col-3-4">
                          <div class="wrap-col">
                            <p>
                              His primis omittam intellegat cu, voluptua
                              appetere mea ad, eu harum oporteat vix. Et vel
                              quod legimus, graeci electram ocurreret at his.
                              Vix at tation facete impetus omnesque ius harum
                              antiopam.
                            </p>
                            <div class="social">
                              <a href="#"
                                ><img
                                  src="../../assets/images/facebook.png"
                                  title="facebook"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/twitter.png"
                                  title="twitter"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/google.png"
                                  title="google"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/pinterest.png"
                                  title="pinterest"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/instagram.png"
                                  title="instagram"
                              /></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-1-2">
                    <div class="wrap-col">
                      <div class="row post">
                        <div class="col-1-4 f-right">
                          <div class="wrap-col">
                            <img src="../../assets/images/avatar3.png" />
                            <h4>Name</h4>
                          </div>
                        </div>
                        <div class="col-3-4">
                          <div class="wrap-col">
                            <p>
                              His primis omittam intellegat cu, voluptua
                              appetere mea ad, eu harum oporteat vix. Et vel
                              quod legimus, graeci electram ocurreret at his.
                              Vix at tation facete impetus omnesque ius harum
                              antiopam.
                            </p>
                            <div class="social">
                              <a href="#"
                                ><img
                                  src="../../assets/images/facebook.png"
                                  title="facebook"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/twitter.png"
                                  title="twitter"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/google.png"
                                  title="google"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/pinterest.png"
                                  title="pinterest"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/instagram.png"
                                  alt="instagram"
                              /></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row post">
                        <div class="col-1-4 f-right">
                          <div class="wrap-col">
                            <img src="../../assets/images/avatar4.png" />
                            <h4>Name</h4>
                          </div>
                        </div>
                        <div class="col-3-4">
                          <div class="wrap-col">
                            <p>
                              His primis omittam intellegat cu, voluptua
                              appetere mea ad, eu harum oporteat vix. Et vel
                              quod legimus, graeci electram ocurreret at his.
                              Vix at tation facete impetus omnesque ius harum
                              antiopam.
                            </p>
                            <div class="social">
                              <a href="#"
                                ><img
                                  src="../../assets/images/facebook.png"
                                  title="facebook"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/twitter.png"
                                  title="twitter"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/google.png"
                                  title="google"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/pinterest.png"
                                  title="pinterest"
                              /></a>
                              <a href="#"
                                ><img
                                  src="../../assets/images/instagram.png"
                                  title="instagram"
                              /></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-----------------content-box-3-------------------->
          <div class="content-box box-3">
            <a name="box-3"></a>
            <div class="zerogrid">
              <div class="row wrap-box">
                <div class="header">
                  <h2>Our services</h2>
                  <h3>Look what we can do for you</h3>
                </div>
                <div class="row post">
                  <div class="col-1-3">
                    <div class="wrap-col">
                      <img src="../../assets/images/img01.png" />
                      <h5>Web design</h5>
                      <p>
                        His primis omittam intellegat cu, voluptua appetere mea
                        ad, eu harum oporteat vix. Et vel quod legimus, graeci
                        electram ocurreret at his. Vix at tation facete impetus
                        omnesque ius harum antiopam.
                      </p>
                      <a class="button button03" href="single.html"
                        >Learn More</a
                      >
                    </div>
                  </div>
                  <div class="col-1-3">
                    <div class="wrap-col">
                      <img src="../../assets/images/img02.png" />
                      <h5>Speed Up</h5>
                      <p>
                        His primis omittam intellegat cu, voluptua appetere mea
                        ad, eu harum oporteat vix. Et vel quod legimus, graeci
                        electram ocurreret at his. Vix at tation facete impetus
                        omnesque ius harum antiopam.
                      </p>
                      <a class="button button03" href="single.html"
                        >Learn More</a
                      >
                    </div>
                  </div>
                  <div class="col-1-3">
                    <div class="wrap-col">
                      <img src="../../assets/images/img03.png" />
                      <h5>Responsive Design</h5>
                      <p>
                        His primis omittam intellegat cu, voluptua appetere mea
                        ad, eu harum oporteat vix. Et vel quod legimus, graeci
                        electram ocurreret at his. Vix at tation facete impetus
                        omnesque ius harum antiopam.
                      </p>
                      <a class="button button03" href="single.html"
                        >Learn More</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-----------------content-box-4-------------------->
          <div class="content-box box-4">
            <a name="box-4"></a>
            <div class="zerogrid">
              <div class="row wrap-box">
                <div class="header">
                  <h2>Pricing table</h2>
                  <h3>What we offer to help your business</h3>
                </div>
                <div class="row post">
                  <div class="col-1-3">
                    <div class="wrap-col">
                      <div class="pricing">
                        <div class="pricing-title">Basic</div>
                        <p class="pricing-price">$19</p>
                        <ul class="pricing-features">
                          <li><strong>1</strong> user</li>
                          <li><strong>Unlimited</strong> projects</li>
                          <li><strong>2GB</strong> storage</li>
                        </ul>
                        <a href="single.html" class="pricing-button">Buy Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-1-3">
                    <div class="wrap-col">
                      <div class="pricing">
                        <div class="pricing-title">Standard</div>
                        <p class="pricing-price">$77</p>
                        <ul class="pricing-features">
                          <li><strong>9</strong> user</li>
                          <li><strong>Unlimited</strong> projects</li>
                          <li><strong>2GB</strong> storage</li>
                        </ul>
                        <a href="single.html" class="pricing-button">Buy Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-1-3">
                    <div class="wrap-col">
                      <div class="pricing">
                        <div class="pricing-title">Premium</div>
                        <p class="pricing-price">$199</p>
                        <ul class="pricing-features">
                          <li><strong>99</strong> user</li>
                          <li><strong>Unlimited</strong> projects</li>
                          <li><strong>2GB</strong> storage</li>
                        </ul>
                        <a href="single.html" class="pricing-button">Buy Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-----------------content-box-5-------------------->
          <div class="content-box box-5">
            <a name="box-5"></a>
            <div class="zerogrid">
              <div class="row wrap-box">
                <div class="header">
                  <h2>Projects</h2>
                  <h3>Our amazing project done</h3>
                </div>
                <div class="row">
                  <div class="post">
                    <div class="col-1-2 f-right">
                      <img src="../../assets/images/project1.jpg" />
                    </div>
                    <div class="col-1-2">
                      <div class="art-content">
                        <h2>the title on the article</h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Aliquam viverra convallis auctor. Sed accumsan
                          libero quis mi commodo et suscipit enim lacinia. Morbi
                          rutrum vulputate est sed faucibus.
                        </p>
                        <a class="button button03" href="single.html"
                          >Read More</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="post">
                    <div class="col-1-2">
                      <img src="../../assets/images/project2.jpg" />
                    </div>
                    <div class="col-1-2">
                      <div class="art-content">
                        <h2>the title on the article</h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Aliquam viverra convallis auctor. Sed accumsan
                          libero quis mi commodo et suscipit enim lacinia. Morbi
                          rutrum vulputate est sed faucibus.
                        </p>
                        <a class="button button03" href="single.html"
                          >Read More</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
          <!-----------------content-box-6-------------------->
          <div class="content-box box-6">
            <a name="box-6"></a>
            <div class="zerogrid">
              <div class="row wrap-box">
                <div class="header">
                  <h2>Contact</h2>
                </div>
                <p>Telephone Number - +48 123 456 789</p>
                <p>E-Mail: kfkzkozakiewicz&#64;gmail.com</p>
                <p>Adress: Szosa Chełmińska 83a, Torun, Poland</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--------------Footer--------------->
      <footer>
        <div class="copyright">
          <div class="footer-social">
            <a href="#"
              ><img src="../../assets/images/facebook.png" title="facebook"
            /></a>
            <a href="#"
              ><img src="../../assets/images/twitter.png" title="twitter"
            /></a>
            <a href="#"
              ><img src="../../assets/images/google.png" title="google"
            /></a>
            <a href="#"
              ><img src="../../assets/images/pinterest.png" title="pinterest"
            /></a>
            <a href="#"
              ><img src="../../assets/images/instagram.png" title="instagram"
            /></a>
          </div>
          <p>
            Copyright ?? 2015 - Designed by
            <a href="https://www.zerotheme.com">ZEROTHEME</a>
          </p>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/navigation.js"></script>
  </body>
</html>