<div class="page">
  <nav class="navbar">
    <img
      src="../../../assets/skillpass_logo_2.png"
      alt="SkillPass"
      class="logo"
    />
    <button class="navbar-button">ZALOGUJ SIĘ</button>
  </nav>

  <hr style="border: 0; border-top: 1px solid #ccc" />

  <div class="content">
    <div class="hero">
      <div class="hero-text">
        <div class="hero-title">Zbuduj swoją karierę z SkillPass</div>
        <div class="hero-subtitle">
          Zweryfikuj swoje umiejętności, znajdź idealną pracę i rozwijaj swoją
          karierę dzięki spersonalizowanym ścieżkom rozwoju.
        </div>
        <button class="hero-button">ZAREJESTRUJ SIĘ</button>
      </div>
      <div class="hero-image">
        <img src="../../../assets/hero_image.png" alt="hero-image" />
      </div>
    </div>

    <div class="how-it-works">
      <div class="how-it-works-header">
        <div class="how-it-works-title">Jak działa SkillPass?</div>
        <div class="how-it-works-subtitle">
          W kilku prostych krokach zacznij swoją podróż do nowej pracy!
        </div>
      </div>
      <ul class="how-it-works-text">
        <li class="how-it-works-step">
          <div class="how-it-works-number">1</div>
          <div class="how-it-works-content">
            <h3>Zarejestruj się i uzupełnij profil</h3>
            <p>
              Stwórz profil zawodowy, dodaj swoje umiejętności, doświadczenie i
              ukończone kursy.
            </p>
          </div>
        </li>
        <li class="how-it-works-step">
          <div class="how-it-works-number">2</div>
          <div class="how-it-works-content">
            <h3>Zweryfikuj swoje umiejętności i doświadczenie</h3>
            <p>
              Potwierdź swoje kompetencje za pomocą testów, certyfikatów lub
              referencji.
            </p>
          </div>
        </li>
        <li class="how-it-works-step">
          <div class="how-it-works-number">3</div>
          <div class="how-it-works-content">
            <h3>Przeglądaj oferty pracy dopasowane do Twoich kwalifikacji</h3>
            <p>
              Otrzymuj oferty, które najlepiej odpowiadają Twojemu profilowi.
            </p>
          </div>
        </li>
        <li class="how-it-works-step">
          <div class="how-it-works-number">4</div>
          <div class="how-it-works-content">
            <h3>Generuj nowoczesne CV i aplikuj na wymarzone stanowiska</h3>
            <p>
              Skorzystaj z automatycznego kreatora CV i aplikuj bezpośrednio
              przez aplikację.
            </p>
          </div>
        </li>
      </ul>
      <div class="how-it-works-image">
        <img
          src="../../../assets/how_it_works_image.png"
          alt="how-it-works-image"
        />
      </div>
    </div>

    <div class="benefits">
      <div class="benefits-header">
        <div class="benefits-title">Jak działa SkillPass?</div>
        <div class="benefits-subtitle">
          W kilku prostych krokach zacznij swoją podróż do nowej pracy!
        </div>
      </div>
      <div class="benefits-cards">
        <div class="benefits-card">
          <div class="benefits-card-title">Zweryfikowane umiejętności</div>
          <div class="benefits-card-subtitle">
            Zwiększ swoją wiarygodność na rynku pracy dzięki rzetelnej
            weryfikacji kompetencji.
          </div>
          <div class="benefits-card-image">
            <img
              src="../../../assets/benefits_card_image_1.png"
              alt="benefits_card_image_1"
              class="benefits-card-image"
            />
          </div>
        </div>
        <div class="benefits-card">
          <div class="benefits-card-title">Zweryfikowane umiejętności</div>
          <div class="benefits-card-subtitle">
            Zwiększ swoją wiarygodność na rynku pracy dzięki rzetelnej
            weryfikacji kompetencji.
          </div>
          <div class="benefits-card-image">
            <img
              src="../../../assets/benefits_card_image_2.png"
              alt="benefits_card_image_2"
              class="benefits-card-image"
            />
          </div>
        </div>
        <div class="benefits-card">
          <div class="benefits-card-title">Zweryfikowane umiejętności</div>
          <div class="benefits-card-subtitle">
            Zwiększ swoją wiarygodność na rynku pracy dzięki rzetelnej
            weryfikacji kompetencji.
          </div>
          <div class="benefits-card-image">
            <img
              src="../../../assets/benefits_card_image_3.png"
              alt="benefits_card_image_3"
              class="benefits-card-image"
            />
          </div>
        </div>
        <div class="benefits-card">
          <div class="benefits-card-title">Zweryfikowane umiejętności</div>
          <div class="benefits-card-subtitle">
            Zwiększ swoją wiarygodność na rynku pracy dzięki rzetelnej
            weryfikacji kompetencji.
          </div>
          <div class="benefits-card-image">
            <img
              src="../../../assets/benefits_card_image_4.png"
              alt="benefits_card_image_4"
              class="benefits-card-image"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="testimonial">
      <button class="testimonial-button-left">
        <img src="../../../assets/svg-icons/chevron-left-icon.svg" alt="Strzałka">
      </button>
      <div class="testimonial-header">
        <div class="testimonial-title">Historie sukcesu z SkillPass</div>
        <div class="testimonial-subtitle">
          Setki użytkowników znalazły swoją wymarzoną pracę dzięki SkillPass.
          Zobacz, co mówią o nas inni!
        </div>
      </div>
      <div class="testimonial-cards">
        <div class="testimonial-card">
          <div class="testimonial-text">
            "Dzięki SkillPass znalazłem pracę, która idealnie odpowiada moim
            umiejętnościom. Proces rekrutacji był szybki i profesjonalny."
          </div>
          <div class="testimonial-person">
            <img src="../../../assets/avatar_1.png" alt="Zdjęcie" />
            <div>
              <h3>Jakub Kowalski</h3>
              <p>
                Senior Deep Learning Engineer <br />
                w firmie NVIDIA
              </p>
            </div>
          </div>
        </div>

        <div class="testimonial-card">
          <div class="testimonial-text">
            „SkillPass nie tylko pomógł mi znaleźć pracę, ale także wskazał
            ścieżki rozwoju, które podniosły moje kwalifikacje.”
          </div>
          <div class="testimonial-person">
            <img src="../../../assets/avatar_2.png" alt="Zdjęcie" />
            <div>
              <h3>Anna Nowak</h3>
              <p>
                React Developer with Python <br />
                w firmie Sigma IT Poland
              </p>
            </div>
          </div>
        </div>

        <div class="testimonial-card">
          <div class="testimonial-text">
            „Zweryfikowane umiejętności to klucz do sukcesu! Dzięki SkillPass
            wyróżniłem się na tle innych kandydatów.”
          </div>
          <div class="testimonial-person">
            <img src="../../../assets/avatar_3.png" alt="Zdjęcie" />
            <div>
              <h3>Paweł Zieliński</h3>
              <p>
                Stażysta w Dziale HR <br />
                w firmie Geberit Polska
              </p>
            </div>
          </div>
        </div>
      </div>
      <button class="testimonial-button-right">
        <img src="../../../assets/svg-icons/chevron-right-icon.svg" alt="Strzałka">
      </button>
    </div>

    <div class="verification">
      <div class="verification-text">
        <div class="verification-title">Jak weryfikujemy Twoje umiejętności?</div>
        <div class="verification-subtitle">
          Chcemy, aby Twoje kompetencje były widoczne i potwierdzone. Oferujemy różne sposoby weryfikacji, aby zwiększyć Twoją wiarygodność w oczach pracodawców.
        </div>
        <button class="verification-button">Dowiedz się więcej</button>
      </div>
      <div class="verification-methods">
        <div class="verification-method">
          <div class="verification-method-icon">
            <img src="../../../assets/svg-icons/certificate-icon.svg" alt="ICON">
          </div>
          <div class="verification-method-title">
            Certyfikaty
          </div>
          <div class="verification-method-subtitle">
            Dodawaj zdjęcia swoich certyfikatów, abyśmy mogli zweryfikować ich prawdziwość
          </div>
        </div>
        <div class="verification-method">
          <div class="verification-method-icon">
            <img src="../../../assets/svg-icons/graduation-cap-icon.svg" alt="ICON">
          </div>
          <div class="verification-method-title">
            Umiejętności
          </div>
          <div class="verification-method-subtitle">
            Sprawdzaj swoje kompetencje wypełniając nasze autorskie testy, przygotowane przez specjalistów
          </div>
        </div>
        <div class="verification-method">
          <div class="verification-method-icon">
            <img src="../../../assets/svg-icons/briefcase-icon.svg" alt="ICON">
          </div>
          <div class="verification-method-title">
            Doświadczenie
          </div>
          <div class="verification-method-subtitle">
            Podaj gdzie pracowałeś, a my skontaktujemy się z pracodawcą i potwierdzimy tę informację
          </div>
        </div>
      </div>
    </div>

    <div class="faq">
      <div class="faq-header">
        <div class="faq-title">Często zadawane pytania</div>
        <div class="faq-subtitle">
          Zebraliśmy odpowiedzi na najczęściej zadawane pytania, aby pomóc Ci jak najlepiej wykorzystać SkillPass.
        </div>
      </div>
      <div class="faq-elements">
        <div class="faq-element">
          <div class="faq-element-icon">
            ?
          </div>
          <div class="faq-element-title">
            Czy korzystanie z SkillPass jest płatne?
          </div>
          <div class="faq-element-subtitle">
            Tak, SkillPass jest całkowicie darmowy dla użytkowników. Możesz bezpłatnie założyć konto, stworzyć profil, weryfikować swoje umiejętności, przeglądać oferty pracy i generować profesjonalne CV. Nasza aplikacja została zaprojektowana, aby pomóc Ci rozwijać karierę bez dodatkowych kosztów.
          </div>
        </div>
        <div class="faq-element">
          <div class="faq-element-icon">
            ?
          </div>
          <div class="faq-element-title">
            Jak działa weryfikacja umiejętności?
          </div>
          <div class="faq-element-subtitle">
            SkillPass oferuje różne sposoby na potwierdzenie Twoich kompetencji: od testów umiejętności, przez przesyłanie certyfikatów, aż po referencje od pracodawców. Zweryfikowane umiejętności zwiększają Twoją wiarygodność na rynku pracy i przyciągają uwagę rekruterów. Wszystko po to, aby Twoje CV wyróżniało się na tle innych kandydatów.
          </div>
        </div>
        <div class="faq-element">
          <div class="faq-element-icon">
            ?
          </div>
          <div class="faq-element-title">
            Jakie korzyści daje automatyczne generowanie CV?
          </div>
          <div class="faq-element-subtitle">
            SkillPass automatycznie generuje profesjonalne CV na podstawie Twojego profilu, co pozwala zaoszczędzić czas i zapewnia spójność danych. Możesz wybrać nowoczesny szablon, a dokument jest aktualizowany na bieżąco przy każdej zmianie w Twoim profilu. Dzięki temu zawsze masz gotowe, nowoczesne CV, które możesz wykorzystać w procesie rekrutacji.
          </div>
        </div>
        <div class="faq-element">
          <div class="faq-element-icon">
            ?
          </div>
          <div class="faq-element-title">
            Jak mogę rozwijać swoją karierę dzięki ścieżkom rozwoju kariery w SkillPass?
          </div>
          <div class="faq-element-subtitle">
            SkillPass oferuje spersonalizowane ścieżki rozwoju kariery, które proponują kursy i certyfikaty na podstawie Twojego profilu oraz rynku pracy. Dzięki integracji z platformami e-learningowymi możesz szybko zdobywać nowe umiejętności, a ukończone kursy automatycznie trafiają do Twojego profilu. To proste narzędzie, które pomoże Ci osiągnąć kolejne cele zawodowe.
          </div>
        </div>
      </div>
      <div class="faq-support">
        <div class="faq-support-1">
          Nie znalazłeś odpowiedzi na swoje pytanie?
        </div>
        <div class="faq-support-2">
          Skontaktuj się z naszym supportem
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <img
      src="../../../assets/skillpass_logo_2.png"
      alt="SkillPass"
      class="footer-logo"
    />
    <div class="footer-info">
      <p>Privacy Policy</p>
      <p>Terms of Conditions</p>
      <p>Legal</p>
      <p>Help</p>
    </div>
    <div class="footer-social-media">
      <img class="footer-social-media_fb" src="../../../assets/svg-icons/facebook-app-round-icon.svg" alt="FB">
      <img class="footer-social-media_x" src="../../../assets/svg-icons/x-social-media-logo-icon.svg" alt="X">
      <img class="footer-social-media_in" src="../../../assets/svg-icons/linkedin-square-icon.svg" alt="IN">
      <img class="footer-social-media_ig" src="../../../assets/svg-icons/black-instagram-icon.svg" alt="IG">
    </div>
    <div class="footer-law">
      <p class="footer-rights-reserved">© 2024 All rights reserved</p>
      <p class="footer-language">Polish Version</p>
    </div>
  </footer>
</div>
