<header class="header">
    <nav class="navbar">
      <div class="logo">
        <img src="../../assets/skillpass_logo_2.png" alt="Logo aplikacji" />
      </div>
  
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">O nas</a></li>
        <li><a href="#services">Usługi</a></li>
        <li><a href="#contact">Kontakt</a></li>
      </ul>
  
      <div class="auth-buttons">
        <button class="login-button">Dołącz jako użytkownik</button>
        <button class="signup-button">Dołącz jako firma</button>
      </div>
    </nav>
  </header>
  
  <main class="content">
    <section class="about" id="about">
      <div class="section-content reverse-order">
        <img src="../../assets/skillpass_logo_2.png" alt="O nas" class="section-image" />
        <div class="section-text">
          <h3>O nas</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque urna sed erat fermentum, eget scelerisque urna blandit.</p>
        </div>
      </div>
    </section>
  
    <section class="services" id="services">
      <div class="section-content">
        <img src="../../assets/skillpass_logo_1.png" alt="Co oferujemy" class="section-image" />
        <div class="section-text">
          <h3>Co oferujemy</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque urna sed erat fermentum, eget scelerisque urna blandit.</p>
        </div>
      </div>
    </section>
  
    <section class="contact" id="contact">
      <div class="section-content reverse-order">
        <img src="../../assets/skillpass_logo_1.png" alt="Kontakt" class="section-image" />
        <div class="section-text">
          <h3>Kontakt</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque urna sed erat fermentum, eget scelerisque urna blandit.</p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="../../assets/skillpass_logo_2.png" alt="Logo aplikacji" />
        </div>
        <div class="footer-rights">
          <p>&copy; 2024 All Rights Reserved.</p>
        </div>
        <div class="footer-social">
          <a href="https://facebook.com" target="_blank" class="social-link">
            <img src="../../assets/facebook.png" alt="Facebook" />
          </a>
          <a href="https://instagram.com" target="_blank" class="social-link">
            <img src="../../assets/instagram.png" alt="Instagram" />
          </a>
          <a href="https://linkedin.com" target="_blank" class="social-link">
            <img src="../../assets/linkedin.png" alt="LinkedIn" />
          </a>
        </div>
      </div>
    </footer> 
  </main>
  
  