$primary-color: #D732A8;
$secondary-color: #EC008C;
$accent-color: #586CD4;
$background-color: #FFF0FF;
$title-color: #000000;
$content-color: #161C2D;

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  background-color: $background-color;
  padding: 0px 160px;

  grid-template-areas:
    "navbar"
    "content"
    "footer";
}

.logo {
  height: 40px;
  width: auto;
}

// ------ NAVBAR ------

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: $background-color;

  position: fixed;
  top: 0;
  left: 160px;
  right: 160px;
  width: calc(100% - 320px);
}

.navbar-button {
  background-color: $accent-color;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: medium;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: darken($color: $accent-color, $amount: 8);
  }
}

// ------ CONTENT ------

.content {
  grid-area: content;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 140px;
  margin-top: 180px;
}

.hero {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'text image';
}

.hero-text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-title {
  font-size: 64px;
  font-weight: 700;
  color: $title-color;
  margin-bottom: 8px;
}

.hero-subtitle {
  font-size: 19px;
  font-weight: 400;
  color: $content-color;
  line-height: 32px;
  margin-bottom: 20px;
}

.hero-image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    min-width: 300px;
    width: 100%;
    height: auto;
  }
}

.hero-button {
  background-color: $primary-color;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: medium;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: darken($color: $primary-color, $amount: 10);
  }
}

.how-it-works {
  display: grid;
  row-gap: 32px;
  column-gap: 64px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'header header'
  'image text';
}

.how-it-works-header {
  grid-area: header;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 12px;
}

.how-it-works-title {
  height: auto;
  font-size: 52px;
  font-weight: 700;
  color: $title-color;
}

.how-it-works-subtitle {
  height: auto;
  font-size: 22px;
  font-weight: 400;
  color: $content-color;
}

.how-it-works-text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
  padding: 0;
  margin: 0;
  counter-reset: step-counter;
}

.how-it-works-step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.how-it-works-number {
  counter-increment: step-counter;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(71, 59, 240, 0.1);
  color: $accent-color;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
}

.how-it-works-content {
  h3 {
    font-size: 23px;
    font-weight: 700;
    margin: 0;
    color: $title-color;
  }

  p {
    margin: 5px 0 0;
    font-size: 18px;
    line-height: 24px;
    color: $content-color;
  }
}

.how-it-works-image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    min-width: 300px;
    width: 80%;
    height: auto;
  }
}

.benefits {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'header'
  'cards';
}

.benefits-header {
  grid-area: header;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 12px;
}

.benefits-title {
  height: auto;
  font-size: 52px;
  font-weight: 700;
  color: $title-color;
}

.benefits-subtitle {
  height: auto;
  font-size: 22px;
  font-weight: 400;
  color: $content-color;
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
}

.benefits-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  'title title'
  'subtitle image';
  background: linear-gradient(148deg, #FFDFFF, #F19EDC);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 300px;
}

.benefits-card-title {
  grid-area: title;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 16px;
}

.benefits-card-subtitle {
  grid-area: subtitle;
  display: flex;
  font-size: 20px;
  font-weight: 400;
}

.benefits-card-image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50%;
    height: auto;
    padding-top: 20px;
  }
}

.testimonial {
  display: grid;
  gap: 15px;
  align-items: center;
  grid-template-columns: 40px 1fr 40px;
  grid-template-areas: 
  'header header header'
  'left cards right';
}

.testimonial-header {
  grid-area: header;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 12px;
}

.testimonial-title {
  height: auto;
  font-size: 52px;
  font-weight: 700;
  color: $title-color;
}

.testimonial-subtitle {
  height: auto;
  font-size: 20px;
  font-weight: 400;
  color: $content-color;
}

.testimonial-button-right {
  grid-area: right;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-color;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: darken($color: $background-color, $amount: 4);
  }

  img {
    height: 20px;
    width: auto;
    fill: $primary-color;
  }
}

.testimonial-button-left {
  grid-area: left;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-color;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($color: $background-color, $amount: 4);
  }

  img {
    height: 20px;
    width: auto;
    fill: $primary-color;
  }
}

.testimonial-cards {
  display: flex;
  gap: 20px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(148deg, #FFDFFF, #F19EDC);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 200px;
}

.testimonial-text {
  font-weight: 500;
  width: 90%;
  font-size: 22px;
  color: $title-color;
  padding-bottom: 20px;
}

.testimonial-person {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-areas: 
  'image name'
  'image description';
  column-gap: 20px;

  img {
    grid-area: image;
    width: 100%;
    height: auto;
  }

  h3 {
    grid-area: name;
    font-weight: 500;
    font-size: 20px;
    color: $title-color;
  }

  p {
    grid-area: description;
    font-weight: 400;
    font-size: 14px;
    color: $content-color;
  }
}

.verification {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'text methods';
}

.verification-text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.verification-title {
  font-size: 52px;
  font-weight: 700;
  color: $title-color;
  margin-bottom: 8px;
}

.verification-subtitle {
  font-size: 19px;
  font-weight: 400;
  color: $content-color;
  line-height: 32px;
}

.verification-button {
  background-color: $primary-color;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: medium;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: darken($color: $primary-color, $amount: 10);
  }
}

.verification-methods {
  grid-area: methods;
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  gap: 20px;
}

.verification-method {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-areas: 
  'icon title'
  'icon subtitle';
  column-gap: 20px;
  row-gap: 14px;
  align-items: center;
}

.verification-method-icon {
  grid-area: icon;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-color;
  border: none;
  border-radius: 50%;

  img {
    width: 32px;
    height: auto;
    color: white;
  }
}

.verification-method-title {
  grid-area: title;
  font-size: 21px;
  font-weight: 600;
  color: $title-color;

}

.verification-method-subtitle {
  grid-area: subtitle;
  font-size: 17px;
  font-weight: 400;
  color: $content-color;
  line-height: 26px;
}

.faq {
  display: grid;
  gap: 15px;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'header'
  'elements'
  'support';
}

.faq-header {
  grid-area: header;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 12px;
}

.faq-title {
  height: auto;
  font-size: 52px;
  font-weight: 700;
  color: $title-color;
}

.faq-subtitle {
  height: auto;
  font-size: 20px;
  font-weight: 400;
  color: $content-color;
}

.faq-elements {
  grid-area: elements;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 28px;
  column-gap: 40px;
}

.faq-element {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-areas: 
  'icon title'
  'icon subtitle';
  column-gap: 32px;
}

.faq-element-title {
  grid-area: title;
  font-weight: 700;
  font-size: 21px;
  color: $title-color;
  padding-bottom: 12px;
}

.faq-element-subtitle {
  grid-area: subtitle;
  font-weight: 400;
  font-size: 17px;
  color: $content-color;
}

.faq-element-icon {
  grid-area: icon;
  width: 40px;
  height: 40px;
  background-color: $primary-color;
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.faq-support {
  padding-top: 20px;
  grid-area: support;
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 400;

  &-2 {
    color: $primary-color;
  }
}

// ------ FOOTER ------

.footer {
  grid-area: footer;
  height: auto;
  width: 100%;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  'logo info social'
  'law law law';
  gap: 20px;
  padding-bottom: 20px;
}

.footer-logo {
  grid-area: logo;
  height: 40px;
  width: auto;
}

.footer-info {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-evenly;
  color: $title-color;
}

.footer-social-icons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

.footer-social-icons a {
  width: 28px;
  height: 28px;
}

.footer-social-icons svg {
  fill: #000000;
  width: 100%;
  height: 100%;
  transition: fill 0.2s ease;
}

.footer-social-icons .linkedin:hover svg {
  fill: #0A66C2;
}

.footer-social-icons .facebook:hover svg {
  fill: #1877F2;
}

.footer-social-icons .instagram:hover svg {
  fill: #E1306C;
}

.footer-social-icons .x:hover svg {
  fill: #292929;
}

.footer-law {
  grid-area: law;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.footer-rights-reserved {
  font-size: 14px;
  font-weight: 400;
  color: $content-color;
}

.footer-language {
  font-size: 14px;
  font-weight: 400;
  color: $content-color;
}