<nav class="sidebar">
  <ul>
    <li><a routerLink="/user-dashboard/main-page" routerLinkActive="active">Strona główna</a></li>
    <li><a routerLink="/user-dashboard/profile" routerLinkActive="active">Profil</a></li>
    <li><a routerLink="/user-dashboard/notifications" routerLinkActive="active">Powiadomienia</a></li>
    <li><a routerLink="/user-dashboard/job-search" routerLinkActive="active">Wyszukiwarka ofert</a></li>
    <li><a routerLink="/user-dashboard/cv-generator" routerLinkActive="active">Generator CV</a></li>
    <li><a routerLink="/user-dashboard/settings" routerLinkActive="active">Ustawienia</a></li>
    <li><a routerLink="/">Wyloguj</a></li>
  </ul>
</nav>
  