<nav class="sidebar">
  <div class="sidebar-logo">
    <img src="../../../assets/skillpass_logo_2.png" alt="SkillPass">
  </div>
  <ul>
    <li>
      <a routerLink="/user-dashboard/main-page" routerLinkActive="active">
        <img src="../../../assets/svg-icons/main-page.svg" alt="main-page">
        Strona Główna
      </a>
    </li>
    <li>
      <a routerLink="/user-dashboard/profile" routerLinkActive="active">
        <img src="../../../assets/svg-icons/profile.svg" alt="profile">
        Profil
      </a>
    </li>
    <li>
      <a routerLink="/user-dashboard/notifications" routerLinkActive="active">
        <img src="../../../assets/svg-icons/notifications.svg" alt="notifications">
        Powiadomienia
      </a>
    </li>
    <li>
      <a routerLink="/user-dashboard/job-search" routerLinkActive="active">
        <img src="../../../assets/svg-icons/search.svg" alt="search">
        Wyszukiwarka
      </a>
    </li>
    <li>
      <a routerLink="/user-dashboard/cv-generator" routerLinkActive="active">
        <img src="../../../assets/svg-icons/main-page.svg" alt="main-page">
        Generator CV
      </a>
    </li>
    <hr />
    <li>
      <a routerLink="/user-dashboard/settings" routerLinkActive="active">
        <img src="../../../assets/svg-icons/settings.svg" alt="settings">
        Ustawienia
      </a>
    </li>
    <li>
      <a routerLink="/" class="logout-link">
        <img src="../../../assets/svg-icons/logout.svg" alt="logout">
        Wyloguj
      </a>
    </li>
  </ul>
</nav>
