$primary-color: #d732a8;
$secondary-color: #ec008c;
$accent-color: #586cd4;
$background-color: #fff0ff;
$title-color: #000000;
$content-color: #161c2d;

.page {
  min-height: 100vh;
  background-color: $background-color;
  display: grid;
  grid-template-columns: 3fr 7fr;

  grid-template-areas: "side-panel content";
}

.side-panel {
  grid-area: side-panel;
  background: linear-gradient(180deg, $background-color, $primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
  align-items: center;

  h2 {
    width: 80%;
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
    color: $title-color;
  }

  p {
    padding-top: 10px;
    width: 70%;
    font-size: 20px;
    font-weight: 400;
    color: $content-color;
  }
}

.logo {
  width: 70%;
  justify-content: center;
}

.handshake-image {
  width: 100%;
  padding: 50px 0px;
}

.content {
  padding-top: 5%;
  padding-left: 100px;
  padding-right: 100px;
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;

  &-question {
    font-weight: 400;
  }

  &-login {
    text-decoration: none;
    font-weight: 800;
    color: $primary-color;
    transition: 0.2s ease;
  }

  &-login:hover {
    color: $secondary-color;
  }
}

.header-left {
  display: flex;
  gap: 8px;
  cursor: pointer;

  img {
    height: 20px;
  }

  p {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    transition: 0.2s ease;
  }

  p:hover {
    color: $primary-color;
  }
}

.register-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

.register-title {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 10px;
}

.register-subtitle {
  font-size: 20px;
  color: $content-color;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  div {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  div:has(input:focus) > label {
    background-color: $secondary-color;
  }

  label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;

    img {
      height: 24px;
      width: 24px;
    }
  }

  input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    border: 2px solid $background-color;
    border-left: none;
    transition: 0.2s ease;
  }

  input:hover {
    border-color: $primary-color;
  }

  input:focus {
    outline: none;
    border-color: $secondary-color;
  }

  input::placeholder {
    color: $content-color;
  }

  button {
    margin-top: 20px;
    border: none;
    border-radius: 1000px;
    padding: 0.85em 4em;
    background-color: $primary-color;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease;
  }

  button:hover {
    background-color: $secondary-color;
  }

  button:focus {
    outline: none;
    background-color: $secondary-color;
  }
}

div.register-container form div.incorrect label {
  background-color: red;
}

div.register-container form div.incorrect input {
  border-color: red;
}

.rights-reserved {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: $content-color;
}
