<body>
    <div class="header">
        <div class="header-content">
            <p>Kim jesteś?</p>
        </div>
    </div>
    <div class="container">
        <div class="left-side">
            <div class="content">
                <h1>Osoba prywatna</h1>
                <p>Pomożemy Ci zbudować swoje wiarygodne CV i znaleźć wymarzoną pracę!</p>
                <button [routerLink]="['/user-login']">Do Dzieła!</button>
            </div>
        </div>
        <div class="right-side">
            <div class="content">
                <h1>Firma</h1>
                <p>Pomożemy Ci znaleźć wymarzonych pracowników!</p>
                <button [routerLink]="['/company']">Do Dzieła!</button>
            </div>
        </div>
        <div class="zigzag-line"></div>
    </div>
</body>